.Settings .form-group {
    margin-bottom: 5px !important; 
}
.container {
    width: 100%;
}

.QCToolbar .navbar-nav>li>a {
   padding-top: 7.5px !important; 
   padding-bottom: 7.5px !important;
   padding-left: 5px !important;
   padding-right: 5px !important;
}


.someTopMargin {
    margin-top: 10px;
}

.nav-tabs>li>a {
    background-color: aliceblue;
}

.tab-pane {
    padding: 1em;
}

*.dalliance .single-base-guideline {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 1px solid rgba(0, 0, 0, 0.75) !important;
}

/*.dalliance {
    visibility: hidden;
}i*/

/*#my-dalliance-holder {
    opacity: 0;
    margin-top: 35px;
    width: 97%;
    position: relative;
    left: 1.5%;
    background-color: white;
    border: 1px solid silver;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
}*/

#my-dalliance-holder {
    margin-top: 0px;
    opacity: 0;
    background-color: white;
    border: 1px solid silver;
}

p.justify {
    text-align: justify;
}

#variantSelectListHolder {
    display: inline-block;
}

.form-stretch {
    width: 100% !important;
}

#modalHelp ul {
    margin: 1em;
}

#modalHelp .modal-body > ul {
    margin: 0em;
    padding: 1em;
} 




#modalHelp table {
    margin: 1em auto;
    border: 1px solid lightgrey;
}


.qc-file-format {
    width: 400px;
    margin: 1em auto;
    background-color: Gainsboro;
    font-family: "Courier New", Courier, monospace;
    border: 1px solid grey;
}

#modalHelp button {
    position: relative;
    top: -1px;
}

#modalHelp th, #modalHelp td {
    padding: 4px 10px;    
}

#modalHelp th:first-child, #modalHelp td:first-child {
    text-align: center;
    border-right: 1px solid lightgrey;
}

#modalSettings tr.border-top {
    border-top: 1px solid lightgrey;
}


#modalSettings td {
    vertical-align: top;
    padding: 5px;
}


#modalSettings td:first-child {
}


label {
    font-weight: normal;
}

.no-break {
    white-space: nowrap;
}

table.color-code tr.a td {
    background-color: green; 
}
table.color-code tr.c td {
    background-color: blue; 
}
table.color-code tr.a td {
    background-color: green; 
}
table.color-code tr.a td {
    background-color: green; 
}

.qc {
    padding-top: 30px;
}
.row {
    padding-top: 25px;
    padding-bottom: 5px;
}

.snoop-toolbar {
    margin-top: 50px;
    padding-top: 7px;
}

.snoop-toolbar table {
    width: 100%;
}

.snoop-toolbar .row {
    margin-right: 0px;
    margin-left: 0px;
}


.go-right {
    margin-left: 10px;
}


.col-left {
    text-align: left;
}

.col-center{
    text-align: center;
}

.col-right{
    text-align: right;
}

.progress {
   /* height: 10px;*/
   width: 100px;
}

/*.progress-bar-fixed {
    position: fixed;
    width: 100%;
    z-index: 1030; 
}*/

.navbar-inverse {
  background-color: #4F4F7F;
  border-color: #4F4F7F;
}

.loader {
    position: relative;
    min-height: 40px;
}

.QCToolbar {
  background-color: #B3BCCE;
  border-color: #B3BCCE;
}

.navbar-inverse .navbar-nav>li>a {
  color: #E2E2E2;
}

.navbar-inverse .navbar-brand {
  color: #FFFFFF;
}

.toolbar .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: lightgrey;
}

.snoop-toolbar li {
    padding-left: 6px;
    padding-right: 6px;
}

.snoop-toolbar .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
}

/*.snoop-toolbar .navbar-inner {
    padding-left: 15px;
    padding-right: 15px; 
}*/

#progressBar {
    display: none;
}

.controlCenter {
    padding: 7.5px;
}

.btn-default {
  border-color: #828282;
}


.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*#loadedFilesPanel {
    display: none;
}*/

#loadDalliance {
    display: none;
}

h4.notFirst {
    margin-top: 25px;
}

h4.first {
    margin-top: 0px:
}

.left-col {
    text-align: justify;
}

.left-col>ul {
    margin-right: 15px;
}

.menu-panel table {
    width: 100%;
    border: 0px;
}
.menu-panel table tr td:first-child,
.menu-panel table tr th:first-child {
    border-left: 0;
}

menu-panel table tr td:last-child,
menu-panel table tr th:last-child {
    border-right: 0;
}

.menu-panel td {
    width: 33.33%; 
    border-left: 8px solid white;
    border-right: 8px solid white;
    padding: 10px;
    background-color: WhiteSmoke;
    vertical-align: center;
}

.centered {
    text-align: center;
}

.choice {
    margin-bottom: 10px;
    margin-top: 15px;
}

#sectionLoadFiles {
    display: none;
}

#panelManual {
    background-color: #D5EBF6;
}

#panelBatch {
    background-color: #EEFFEB;
}

.btn-same-size {
    width: 100px;
}

.fix-height {
    min-height: 200px;
}

pre {
    border: 0px;
    padding: 0px !important;
    background-color: transparent !important;
}

[class*="col-"] {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Space out content a bit */
body {
    background-color: Gainsboro;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */

.header h3 {
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/*#menubar {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    z-index: 1002;
}*/

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

.progress{
  border-radius: 0px;
}

dd {
    margin: 10px 22px;
}

dd.bufferHeight {
    min-height: 75px;
}

/*dt:not(:first-of-type){
    margin-top: 25px;
}*/

dt {
    margin-top: 25px;
}

dt.smallTopMargin {
    margin-top: 5px;
}

.textboxFullWidth {
    width: 100%;
}

#buttonLoadDalliance {
    display: none;
}

.table-files {
    border: 1px solid silver;
}

.table-files th {
    background-color: #FFE6B2 !important;
    border: 1px solid silver;
}

.table-files td {
    background-color: #FFFFF0;
    border: none !important;
}

.tight {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.loose-bottom {
    padding-bottom: 15px !important;
}

.panel-loading-list .panel-heading {
    padding: 0px 6px;
    font-weight: bold;
}

.panel-loading-list .panel-body {
    padding: 2px;
}

.panel-loading-list {
    background-color: #FCF8E3;
    margin-bottom: 10px;
    border: 1px solid #D7D3C1;
}

.panel-loading-list ul {
    list-style: none;
    padding-left: 15px;
}

.alert-file-loading {
    margin-top: 15px; 
}


.modal-body-scrollable {
    max-height: calc(100vh - 144px);
    overflow-y: auto;
}

.dalliance-view {
    display: none;
}


.qc-badge {
    min-width: 27px;
}

.green {
    background-color: green !important;
}

.red {
    background-color: firebrick !important;
}

.amber {
    background-color: orange !important;
}

.qc-variant {
    background-color: limegreen !important;
}


.slider {
  float: none !important;
}

.list-group-current-variant {
    background-color: aliceblue;
    font-weight: bold;
}

.absolute-right {
    position: absolute;
    right: 0px;
    top: 0px;
}